
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  
</head>
<body>

<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="/sms/list">게시판</a>
    </li>
     <li class="nav-item">
      <a class="nav-link" href="">상품</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="">Logout</a>
    </li>
    </ul>
</nav>

<div class="container" style="margin-top:20px">
  <h2>게시판 글쓰기</h2>
  <p></p>
  <form name="form" method="post">
    <input type="hidden" name="id" value="{{data['id']}}">


  <table class="table">
  	<colgroup>
  		<col width="25%"/>
  		<col width="*"/>
  	</colgroup>
    
    <tbody>
      <tr>
      	<td>제목</td>
        <td>
			  <div class="input-group mb-3">
			    <input type="text" class="form-control" placeholder="제목을 입력하세요" name="title" value="{{data['title']}}">
			  </div>
  		</td>
     </tr>      
      <tr >
        <td>작성자</td>
        <td>
			  <div class="input-group mb-3">
			    <input type="text" class="form-control" placeholder="이름을 입력하세요" name="writer" value="{{data['writer']}}">
			  </div>
  		</td>
     
      </tr>
      <tr >
        <td>내용</td>
        <td> 
        	<div class="input-group mb-3">
			    <textarea class="form-control" rows="5" name="contents">{{data['contents']}}</textarea>
			</div>
		</td>
      
      </tr>
     
       <tr >
        <td></td>
        <td></td>
      </tr>
      
    </tbody>
  </table>
  
  	<div class="container" style="text-align:right">
	 
	  <div class="btn-group">
      {%if mode=="insert" %}      
	    <button type="button" class="btn btn-primary" onclick="goWrite()">등록</button>&nbsp;&nbsp;
      {%else%}
      <button type="button" class="btn btn-primary" onclick="goWrite2()">수정</button>&nbsp;&nbsp;
      {%endif%}
	    <button type="button" class="btn btn-primary" onclick="goCancel()">취소</button>&nbsp;&nbsp;
	  </div>
	</div>
</form>	
</div>

</body>
</html>

<script>
function goWrite()
{
	var frm = document.form;
	frm.action="/board/save";
	frm.submit();
}
function goWrite2()
{
	var frm = document.form;
	frm.action="/board/update";
	frm.submit();
}
function goCancel()
{
  var frm = document.form;
  frm.method="get";
  frm.action="/board/list";
  frm.submit();
}
</script>