<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{title}}</h1>

    <h2>이름 : {{name}} 나이 : {{age}}</h2>

    <h3>{{mylist}}</h3>
    <h3>{{mylist[:3]}}</h3>
    <h3>{{mylist[3:]}}</h3>

    <br/>
    {%for item in mylist%}
        {{item}}<br/>
    {%endfor%}
</body>
</html>