<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/board/save" method="post">
        이름 : <input type="text" name="writer" id=""><br>
        제목 : <input type="text" name="title" id="" size="50"><br>
        내용 : <textarea name="contents" id="" cols="30" rows="10"></textarea>
        <br>
        <br>

        <input type="submit" value="등록"> <!-- submit를 쓰면 무조건 서버 전송 -->

    </form>
</body>
</html>