<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li>번호 : {{data['id']}}</li>
        <li>제목 : {{data['title']}}</li>
        <li>작성자 : {{data['writer']}}</li>
        <li>내용 : {{data['contents']}}</li>

    </ul>
    <br>
    <a href="/board/list">목록으로</a><br>
</body>
</html>